* {
  padding: 0;
  margin: 0;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: sans-serif;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(42, 151, 224);
  background: linear-gradient(90deg, rgb(42, 151, 224) 0%, rgb(0, 94, 176) 100%);
  border-radius: 5px;
}
nav ul {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
nav ul li {
  list-style: none;
  font-size: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 20px;
}
main .left {
  margin-top: 2vh;
  width: 250px;
}
main .left .block {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main .left .block header {
  background-color: rgb(26, 88, 151);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 25px;
  text-align: center;
}
main .left .block ul {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 123, 197);
  list-style: none;
}
main .left .block ul li {
  font-size: 18px;
  padding: 3px;
}
main section {
  width: 95%;
}
main .right {
  margin-top: 2vh;
}
main .right .information {
  padding: 15px;
}
main .right .information header {
  background-color: rgb(12, 60, 124);
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
main .right .information header p {
  margin-top: 5px;
}
main .right .information article {
  background-color: rgb(20, 123, 197);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
main .right .information article div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .right .information article div p {
  width: 90%;
  font-size: 21px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .right .information article div p a {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  margin-top: 30px;
  background-color: rgb(21, 84, 173);
  padding: 25px;
  border-radius: 30px;
}
main .right .information article div p a:visited {
  color: white;
}
main .right .information article img {
  width: 60vw;
  margin-bottom: 20px;
}

@media screen and (min-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav {
    width: 90%;
    margin-top: 20px;
    border-radius: 20px;
  }
  nav ul {
    flex-direction: row;
  }
  nav ul li {
    padding: 20px;
  }
  main {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  main .left {
    margin-top: 0;
    width: 300px;
  }
  main .right {
    margin-top: 0;
  }
  main .right .information {
    padding-right: 0;
  }
  main .right .information article {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  main .right .information article img {
    width: 300px;
  }
}
@media screen and (min-width: 1350px) {
  nav {
    width: 1200px;
  }
  main {
    width: 1200px;
  }
  main .right .information article {
    flex-direction: row;
  }
}/*# sourceMappingURL=index.css.map */