$nav-background-hover: rgb(10, 55, 152);
$nav-background: rgb(42,151,224);
$left-and-right-background-down: rgb(20, 123, 197);
$button-read-more: rgb(21, 84, 173);
$right-background-up: rgb(12, 60, 124);
$left-background-up: rgb(26, 88, 151);