@use "reset";
@use "colors" as colors;

body {
// bgc w pliku index.html
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: sans-serif;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: colors.$nav-background;
    background: linear-gradient(90deg, rgba(42,151,224,1) 0%, rgba(0,94,176,1) 100%);
    border-radius: 5px;
    ul {
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        li {
            list-style: none;
            font-size: 30px;                
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            padding: 5px;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;    
    padding-bottom: 20px;

    .left {
        margin-top: 2vh;
        width: 250px;
        .block {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            header {
                background-color: colors.$left-background-up;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                font-size: 25px;
                text-align: center;
            }
            ul {
                padding: 20px;
                display: flex;
                flex-direction: column;
                background-color: colors.$left-and-right-background-down;
                list-style: none;
                li {
                    font-size: 18px;
                    padding: 3px;
                }
            }
        }
    }

    section { // .left i .right
        width: 95%;
    }
    .right {
        margin-top: 2vh;
        .information {
            padding: 15px;
            header {
                background-color: colors.$right-background-up;
                height: 25vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                padding: 20px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                p {
                    margin-top: 5px;
                }
            }
            article {
                background-color: colors.$left-and-right-background-down;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                padding: 20px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p {
                        width: 90%;
                        font-size: 21px;
                        margin-bottom: 30px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        a {
                            display: block;
                            cursor: pointer;
                            text-decoration: none;
                            color: white;
                            margin-top: 30px;
                            background-color: colors.$button-read-more;
                            padding: 25px;
                            border-radius: 30px;
                        }
                        a:visited {
                            color: white;
                        }
                    }
                }
                img {
                    width: 60vw;
                    margin-bottom: 20px;
                }
            }
        }
    }
}


// media queries ----------------


@media screen and (min-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    nav {
        width: 90%;
        margin-top: 20px;
        border-radius: 20px;
        ul {
            flex-direction: row;
            li {
                padding: 20px;
            }
        }
    }

    main {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .left {
            margin-top: 0;
            width: 300px;
        }
        .right {
            margin-top: 0;
            .information {
                padding-right: 0;
                article {
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    img {
                        width: 300px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1350px) {
    nav {
        width: 1200px;
    }
    main {
        width: 1200px;
    }
}